name: tests

on:
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.gitignore'

jobs:
  unit-tests:
    name: unit-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go and system deps
        uses: ./.github/actions/setup-env  

      - name: Run unit tests
        run: go test $(go list ./... | grep -v '/tests') -v

  integration-tests:
    name: integration-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go and system deps
        uses: ./.github/actions/setup-env  
      
      - name: Run integration tests
        run: go test -v ./tests/integration/...

  cascade-e2e-tests:
    name: cascade-e2e-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go and system deps
        uses: ./.github/actions/setup-env  
 
 
      - name: Install Lumera
        run: make install-lumera

      - name: Setup Supernode environments
        run: make setup-supernodes
      
      - name: Run cascade e2e tests
        run: make test-cascade

  sn-manager-e2e-tests:
    name: sn-manager-e2e-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go and system deps
        uses: ./.github/actions/setup-env  
 
 
      - name: Install Lumera
        run: make install-lumera

      - name: Setup Supernode environments
        run: make setup-supernodes
      
      # - name: Run sn-manager e2e tests
      #   run: make test-sn-manager